<div class="">
  <div class="">
    <h4 class=""><%= "本日#{Date.current.strftime("%-m月%e日")}の海況情報" %></h4>
    <div class="post-index">
      <% @conditions.each do |condition| %>
      <div class="">
        <span>
          <% if condition.user.avatar? %>
            <%= link_to image_tag(condition.user.avatar.thumb.url, class: "post-user-avatar"), user_path(condition.user.id) %>
          <% else %>
            <%= link_to image_tag('/images/default-avatar.png', class: "post-user-avatar"), user_path(condition.user.id) %>
          <% end %>
          <strong><%= condition.user.name %></strong>
        </span>
        <p><small><%= "#{condition.created_at.strftime("%Y年%m月%d日 %k:%M")}" %></small></p>

        <p><small><%= condition.divesite.area %> / <%= condition.divesite.zone %></small></p>
        <div class="">
          <%= link_to condition.divesite.name, divesite_path(condition.divesite.id) %>
        </div>

        <p><%= condition.divepoint %></p>
        <p><%= t("status.#{condition.status}") %></p>
        <p><%= condition.temperature %><span> ℃</span></p>
        <p><%= condition.visibility %><span> m</span></p>
        <p><%= condition.content %></p>

        <div class="">
          <% if condition.image? && condition.image.file.content_type.include?('image/') %>
            <%= image_tag condition.image.original.url %>
          <% elsif condition.image? && condition.image.file.content_type.include?('video/') %>
            <%= video_tag condition.image, width: "300px", height: "100%", controls: true, controlsList: "nodownload", autobuffer: true, mute: false %>
          <% end %>
        </div>
        <div class="">
          <%= link_to '詳細', condition_path(condition) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
