<div class="container-fluid">
  <div class="row pt-5 pb-5">
    <div class="col-sm-1 col-md-1 col-lg-2"></div>
    <div class="col-sm-10 col-md-10 col-lg-8 post-show">
      <h4><%= "#{@condition.user.name}さんが投稿した" %></h4>
      <h4 class="headding"><%= "#{@condition.created_at.strftime("%-m月%e日")}の海況情報" %></h4>
      <div class="card-wrap">
        <div class="card-item">
          <div class="card-item-inner">
            <p class="card-date"><small><%= "#{@condition.created_at.strftime("%Y年%m月%d日 %k:%M")}" %></small></p>
            <p><small><%= @condition.divesite.area %> / <%= @condition.divesite.zone %></small></p>
            <div class="card-title" data-toggle="tooltip" data-placement="right" title="ダイブサイトページへ" >
              <div class="h4">
                <%= link_to divesite_path(@condition.divesite.id) do %>
                  <%= @condition.divesite.name %>
                  <small><%= @condition.divepoint %></small>
                <% end %>
                <span class="pl-4 status-icon"><%= image_tag(status_pin_helper(@condition.status), width: '50px') %></span>
              </div>
              <div data-toggle="tooltip" data-placement="right" title="ユーザ詳細ページへ" >
                <% if @condition.user.avatar? %>
                  <%= link_to user_path(@condition.user.uid) do %>
                    <%= image_tag(@condition.user.avatar.thumb.url, class: "post-user-avatar") %>
                    <strong class="pl-2"><%= @condition.user.name %></strong>
                  <% end %>
                <% else %>
                  <%= link_to user_path(@condition.user.uid) do %>
                    <%= image_tag('/images/thumb_default-avatar.png',class: "post-user-avatar") %>
                    <strong class="pl-2"><%= @condition.user.name %></strong>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-table" style="border: none;">
              <table>
                <tbody>
                  <tr>
                    <th>ポイント名<i class="fas fa-caret-right"></i></th>
                    <td><%= @condition.divepoint %></td>
                  </tr>
                  <tr>
                    <th>海況<i class="fas fa-caret-right"></i></th>
                    <td><%= t("status.#{@condition.status}") %></td>
                  </tr>
                  <tr>
                    <th>水温<i class="fas fa-caret-right"></i></th>
                    <td><%= @condition.temperature %><span> ℃</span></td>
                  </tr>
                  <tr>
                    <th>透明度<i class="fas fa-caret-right"></i></th>
                    <td><%= @condition.visibility %><span> m</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p class="card-comment">コメント<i class="fas fa-caret-down"></i></p>
            <p><%= @condition.content %></p>
            <div class="card-image">
              <% if @condition.image? && @condition.image.file.content_type.include?('image/') %>
                <%= image_tag(@condition.image.original.url) %>
              <% elsif @condition.image? && @condition.image.file.content_type.include?('video/') %>
                <%= video_tag @condition.image, controls: true, controlsList: "nodownload",oncontextmenu: "return false;", autobuffer: true, muted: true, poster: "#{@condition.image_url(:screenshot)}" %>
              <% end %>
            </div>
            <% if current_user.id == @condition.user_id %>
              <hr class="m-4">
              <p class="mb-3"><i class="fab fa-twitter"></i> SNSに投稿する際<br> 下記ボタンで点線内の内容をコピーできます</p>
              <div class="card-table">
                <div id="js-copytext">
                  <p>海況: <%= t("status.#{@condition.status}") %></p>
                  <br>
                  <p><%= @condition.content %></p>
                  <br>
                  <p>水温: <%= @condition.temperature %><span> ℃</span> / 透明度: <%= @condition.visibility %><span> m</span></p>
                </div>
              </div>
              <div class="copy-btns">
                <button type="button" id="js-copybtn">点線内をコピー</button>
                <p id="js-copyalert" class="copy_alert"><span>コピーできました！</span><span>このままtwitterに</span><span>投稿しよう！</span></p>
                <div class="headding"></div>
                <div class="tweet-btn">
                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="<%= "#{@condition.divesite.name}の本日の海況" %>" data-hashtags="PRODIVE" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="pt-3 d-flex justify-content-around show-last-btns">
        <span class="transition-btn">
          <%= link_to '本日の海況情報へ', conditions_path %>
        </span>
        <% if current_user.id == @condition.user_id %>
          <span class="post-delete">
            <%= link_to condition_path(@condition), method: :delete, data: { confirm: 'この投稿を削除しますか？' }, class: "unobtrusive" do %>
              <%= '投稿を削除' %><i class="fas fa-angle-right"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-2"></div>
  </div>
</div>
