
<div class="">
  <h4><%= "本日#{@condition.created_at.strftime("%m月%e日")}の海況情報" %></h4>
  <p><%= @condition.created_at.strftime("%Y年%m月%d日 %k:%M") %></p>
  <p><%= @condition.divepoint %></p>
  <p><%= t("status.#{@condition.status}") %></p>
  <p><%= @condition.temperature %><span> ℃</span></p>
  <p><%= @condition.visibility %><span> m</span></p>
  <p><%= @condition.content %></p>
  <div class="">
    <% if @condition.image? && @condition.image.file.content_type.include?('image/') %>
      <%= image_tag @condition.image.original.url %>
    <% elsif @condition.image? && @condition.image.file.content_type.include?('video/') %>
      <%= video_tag @condition.image, width: "300px", height: "100%", controls: true, autobuffer: true, mute: false %>
    <% end %>
  </div>
</div>
<div class="">
  <%= link_to '削除', condition_path(@condition), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
