<div id="parent">
  <% @areas.each.with_index(1) do |area, index| %>
    <%= button_tag area, type: "button", id: "area#{index}" %>
  <% end %>
</div>
<div id="children">
  <div class="child hidden area1">
    <% @kanto_zones.each.with_index(1) do |kanto_zone, index| %>
      <%= button_tag kanto_zone, type: "button", id: "kanto_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area2">
    <% @hokkaido_zones.each.with_index(1) do |hokkaido_zone, index| %>
      <%= button_tag hokkaido_zone, type: "button", id: "hokkaido_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area3">
    <% @tohokku_zones.each.with_index(1) do |tohokku_zone, index| %>
      <%= button_tag tohokku_zone, type: "button", id: "tohokku_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area4">
    <% @hokuriku_zones.each.with_index(1) do |hokuriku_zone, index| %>
      <%= button_tag hokuriku_zone, type: "button", id: "hokuriku_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area5">
    <% @chubu_zones.each.with_index(1) do |chubu_zone, index| %>
      <%= button_tag chubu_zone, type: "button", id: "chubu_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area6">
    <% @kansai_zones.each.with_index(1) do |kansai_zone, index| %>
      <%= button_tag kansai_zone, type: "button", id: "kansai_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area7">
    <% @sanin_zones.each.with_index(1) do |sanin_zone, index| %>
      <%= button_tag sanin_zone, type: "button", id: "sanin_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area8">
    <% @shikoku_zones.each.with_index(1) do |shikoku_zone, index| %>
      <%= button_tag shikoku_zone, type: "button", id: "shikoku_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area9">
    <% @kyushu_zones.each.with_index(1) do |kyushu_zone, index| %>
      <%= button_tag kyushu_zone, type: "button", id: "kyushu_zone#{index}" %>
    <% end %>
  </div>
  <div class="child hidden area10">
    <% @okinawa_zones.each.with_index(1) do |okinawa_zone, index| %>
      <%= button_tag okinawa_zone, type: "button", id: "okinawa_zone#{index}" %>
    <% end %>
  </div>
</div>
