<div class="container-fluid user-show-top-wrap">
  <h2 class="user-edit-title d-flex justify-content-center"><%= t('.title', resource: resource.model_name.human) %></h2>
  <div class="row user-edit">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-10 col-md-12 col-lg-8 row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 user-show-left">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="pt-4">
          <p>アバター画像変更</p>
          <%= f.label :avatar, class: "edit-image" do %>
            <%= image_tag set_avatar_helper, class: "avatar-image-top", id: "img_prev", onClick:"$('#select_avi').click()" %>
            <%= f.file_field :avatar, style: 'display:none', accept: 'image/jpeg,image/png', id: "select_avi" %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-0 col-md-6 col-lg-6 user-show-right">
        <div class="signup-in-wrap">
          <div class="">
            <div class="field">
              <%= f.text_field :name, autofocus: true, required: "required", autocomplete: "name", placeholder: "お名前 or ダイビングショップ名" %>
              <i class="fa fa-user"></i>
            </div>
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", required: "required", placeholder: "メールアドレス" %>
              <i class="fa fa-envelope"></i>
            </div>
            <div class="field">
              <%= f.text_field :shop, autofocus: true, autocomplete: "shop", placeholder: "所属店" %>
              <i class="fa fas fa-fish"></i>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
            <% end %>
            <div class="field">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "変更する場合のみ入力 ( 6文字以上 )" %>
              <i class="fa fa-key"></i>
            </div>
            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用パスワード" %>
              <i class="fa fa-key"></i>
            </div>
            <div class="pt-4 d-flex justify-content-around">
              <%= f.submit t('.update') %>
            </div>
          </div>
        </div>
      </div>
        <% end %>
    </div>
    <div class="col-sm-1 col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-10 col-md-12 col-lg-8 user-show-bottom">
      <div class="unobtrusive">
        <%= link_to mypage_user_path(@user), class: "unobtrusive" do %>
          <%= "マイページへ戻る" %><i class="fas fa-angle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1 col-lg-2"></div>
  </div>
</div>
