<div class="myprofile">
  <p id="empty-caution"><%= complete_profile_helper %></p>
  <h4 class="pt-2 pb-2 my-profile">プロフィール</h4>
  <table>
    <tr>
      <th>ユーザ名</th>
      <td><p><%= user.name %></p></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><p><%= user.email %></p></td>
    </tr>
    <tr>
      <th>所属店</th>
      <% if user.shop.present? %>
        <td><p><%= user.shop %></p></td>
      <% else %>
        <td><p>未設定</p></td>
      <% end %>
    </tr>
  </table>
  <div class="myprofile-links pt-3 d-flex justify-content-around">
    <div class="transition-btn"><%= link_to 'プロフィール編集', edit_user_registration_path, class: "" %></div>
    <div class="">
      <%= link_to user_registration_path, method: :delete, data: { confirm: 'アカウントを削除しますか？' }, class: "unobtrusive" do %>
        <%= "アカウント削除" %><i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
</div>
