<div class="profile">
  <p id="empty-caution"><%= complete_profile_helper %></p>
  <h3 class="pt-4 pb-4 my-profile">プロフィール</h3>
  <table>
    <tr>
      <td>ユーザ名</td>
      <td><h5><%= user.name %></h5></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><h5><%= user.email %></h5></td>
    </tr>
    <tr>
      <td>所属しているダイビングショップ</td>
      <% if user.shop.present? %>
        <td><h5><%= user.shop %></h5></td>
      <% else %>
        <td><h6>未設定</h6></td>
      <% end %>
    </tr>
  </table>
  <div class="pt-3 d-flex justify-content-around">
    <div class="transition-btn"><%= link_to 'プロフィール編集', edit_user_registration_path(user), class: "" %></div>
    <div class="">
      <%= link_to user_registration_path(user), method: :delete, data: { confirm: 'アカウントを削除しますか？' }, class: "unobtrusive" do %>
        <%= "アカウント削除" %><i class="fas fa-angle-right"></i>
      <% end %>
    </div>
  </div>
</div>
