<div class="container-fluid mypage-top-wrap">
  <div class="row mypage-top">
      <%= image_tag(set_avatar_helper, class: 'avatar-image-top') %>
      <div class="mask-gradation"></div>
    <p><span class="user-name"><%= "#{@user.name} " %></span></p>
    <aside class="col-sm-4 col-md-4 col-lg-3 floating-board">
      <div class="">
        <%= image_tag(set_avatar_helper, class: 'avatar-image') %>
      </div>
      <nav class="side-menu">
        <ul>
          <li class="p-4"><%= link_to 'お気に入り / フォロー中', myfavorite_user_path(current_user.id), remote: true %></li>
          <li class="p-4"><%= link_to '自分の投稿一覧', mypost_user_path(current_user.id), remote: true %></li>
          <li class="p-4"><%= link_to 'プロフィール', myprofile_user_path(current_user.id), remote: true %></li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-4 empty-element"></div>
    <article class="col-sm-7 col-md-6 col-lg-6">
      <div id="maypage-content">
        <%= render 'myfavorite', {user: @user, favorites: @favorites, followed: @followed} %>
      </div>
    </article>
    <div class="col-md-1 col-lg-2"></div>
  </div>
</div>
