<div class="container-fluid mypage-top-wrap">
  <div class="row mypage-top">
      <%= image_tag(set_avatar_helper, class: 'avatar-image-top') %>
      <div class="mask-gradation"></div>
    <p class="user-name-wrap"><span class="user-name"><%= "#{@user.name} " %></span><span class="user-follower-count">フォロワー <%= @user.follower_user.count %></span></p>
    <aside class="col-sm-4 col-md-4 col-lg-3 floating-board">
      <a class="close-btn" href="#">
        <i class="fas fa-window-close"></i>
      </a>
      <div>
        <%= image_tag(set_avatar_helper, class: 'avatar-image') %>
      </div>
      <nav class="side-menu">
        <ul>
          <li class="mymenu currently-selected"><%= link_to 'お気に入り / フォロー中', myfavorite_user_path(current_user.uid), class: "mymenu-link", remote: true %></li>
          <li class="mymenu"><%= link_to '自分の投稿一覧', mypost_user_path(current_user.id), class: "mymenu-link", remote: true %></li>
          <li class="mymenu"><%= link_to 'プロフィール', myprofile_user_path(current_user.uid), class: "mymenu-link", remote: true %></li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<div class="container-fluid wrapper">
  <div class="row">
    <div class="empty-element"></div>
    <article class="">
      <a class="sidemenu-btn" href="#">
        <i class="fas fa-bars"> マイページメニュー</i>
      </a>
      <div id="mypage-content">
        <%= render 'myfavorite', {user: @user, favorites: @favorites, followed: @followed} %>
      </div>
    </article>
  </div>
</div>
