<div class="container-fluid user-show-top-wrap">
  <div class="row">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-10 col-md-12 col-lg-8 row user-show-top">
      <div class="col-sm-6 col-md-6 col-lg-6 user-show-left">
        <% if @user.avatar? %>
          <%= image_tag(@user.avatar.url, class: "avatar-image-top") %>
        <% else %>
          <%= image_tag('/images/default-avatar.png', class: "avatar-image-top") %>
        <% end %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 user-show-right">
        <h2 class="pb-3"><span><%= "#{@user.name} " %></span></h2>
        <div class="user-info">
          <div class="">
          <% if @user.shop.present? %>
            <h5><small>所属店: </small><%= @user.shop %></h5>
          <% else %>
            <h5><small>所属店: </small><span>未設定</span></h5>
          <% end %>
          </div>
          <div class="follow-part">
            <% unless current_user.id == @user.id %>
              <span id="follow-part">
                <%= render 'relationships/follow', user: @user %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1 col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-10 col-md-12 col-lg-8 user-show-bottom">
      <div class="user-show-post">
        <div class="">
          <p class="pt-4 pb-4 headding past-posts-title"><span><%= "#{@user.name}" %>さんの</span><span>投稿一覧</span></p>
          <div class="mt-5">
            <% if @conditions.present? %>
              <% @conditions.each do |condition| %>
              <div class="pb-3">
                <p class="past-posts">
                  <%= link_to condition_path(condition.id) do %>
                    <i class="fas fa-angle-double-right" data-toggle="tooltip" data-placement="right" title="投稿詳細へ"><%= " #{condition.created_at.strftime("%-m月%e日")} / #{condition.divesite.zone} / #{condition.divesite.name}" %></i>
                  <% end %>
                </p>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mb-2 d-flex justify-content-center">
        <%= paginate(@conditions) %>
      </div>
      <div class="pt-2 unobtrusive">
        <%= link_to conditions_path, class: "unobtrusive" do %>
          <%= "海況投稿一覧へ戻る" %><i class="fas fa-angle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1 col-lg-2"></div>
  </div>
</div>
