<div class="container-fluid mypage-top-wrap">
  <div class="row mypage-top">
      <%= image_tag set_avatar, class: 'avatar-image-top'%>
      <div class="mask-gradation"></div>
    <h2><span style="font-size:1.2em;"><%= "#{@user.name} " %></span></h2>
    <aside class="col-sm-4 col-lg-2 floating-board">
      <div class="">
        <%= image_tag set_avatar, class: 'avatar-image'%>
      </div>
      <nav class="side-menu">
        <ul>
          <li class="p-4"><%= link_to 'プロフィール', mypage_user_path(current_user.id) %></li>
          <li class="p-4"><%= link_to 'お気に入り', myfavorite_user_path(current_user.id), remote: true %></li>
          <li class="p-4"><%= link_to '投稿一覧', mypost_user_path(current_user.id), remote: true %></li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-sm-5 col-lg-3 empty-element"></div>
    <article class="col-sm-7 col-lg-9">
      <div id="maypage-content">
        <div class="profile">
          <p id="empty-caution"><%= complete_profile %></p>
          <h3 class="p-1">プロフィール</h3>
          <table>
            <tr>
              <td>ユーザ名</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>所属しているダイビングショップ</td>
              <td><%= @user.shop %></td>
            </tr>
          </table>
        </div>
        <div class="pt-3">
          <%= link_to 'プロフィール編集', edit_user_registration_path(@user) %>
          <%= link_to 'アカウント削除', user_registration_path(@user), method: :delete, data: { confirm: 'アカウントを削除しますか？' } %>
        </div>
      </div>
    </article>
  </div>
</div>
