<div class="container-fluid user-show-top-wrap">
  <div class="row">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-10 col-md-12 col-lg-8 row">
      <div class="col-sm-6 col-md-6 col-lg-6 user-show-left">
        <%= image_tag set_avatar_helper, class: "avatar-image-top" %>
      </div>
      <div class="col-sm-6 ccol-md-6 col-lg-6 user-show-right">
        <h2 class="pb-3"><span style="font-size:1.2em;"><%= "#{@user.name} " %></span></h2>
        <div class="user-info">
          <div class="">
          <% if @user.shop.present? %>
            <h5><small>所属店: </small><%= @user.shop %></h5>
            <% else %>
              <h5><small>所属店: </small><span>未設定</span></h5>
            <% end %>
            </h5>
          </div>
          <div class="follow-part">
            <% unless current_user.id == @user.id %>
              <span id="follow-part">
                <%= render 'relationships/follow', user: @user %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1 col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-1 col-lg-2"></div>
    <div class="col-sm-10 col-md-12 col-lg-8 user-show-bottom">
      <div class="user-show-post">
        <div class="post-index">
          <h3 class="pt-5 pb-4 headding"><%= "#{@user.name}" %>さんの投稿一覧</h3>
          <div class="mt-5">
            <% if @conditions.present? %>
              <% @conditions.each do |condition| %>
              <div class="pb-3">
                <h4>
                  <%= link_to condition_path(condition.id) do %>
                    <i class="fas fa-angle-double-right" data-toggle="tooltip" data-placement="right" title="投稿詳細へ"><%= " #{condition.created_at.strftime("%-m月%e日")} / #{condition.divesite.zone} / #{condition.divesite.name}" %></i>
                  <% end %>
                </h4>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="pt-2 unobtrusive">
        <%= link_to conditions_path, class: "unobtrusive" do %>
          <%= "海況投稿一覧へ戻る" %><i class="fas fa-angle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1 col-lg-2"></div>
  </div>
</div>
