<div class="signup-in-wrap">
  <div class="form-box">
    <h2>パスワードを<br>
      忘れましたか？</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="pb-4 field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <i class="fa fa-envelope"></i>
      </div>
      <div class="pt-2 pb-3 d-flex justify-content-around">
        <%= f.submit t('.send_me_reset_password_instructions') %>
      </div>
    <% end %>
    <div class="">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
