<div class="container-fluid">
  <div class="background">
    <div class="top-front">
      <div class="top-logo">
        <div class="top-logo-inner">
          <%= image_tag("/images/PRODIVE_lightblue.png", height: 45) %><br>
          <h5>プロの資格を持つダイバーの為の<br>海況把握アプリ</h5>
          <h1>今日どこに潜りに行く？</h1>
        </div>
      </div>
      <div class="scroll-invitation"><span>Scroll</span></div>
      <%= image_tag '/images/diver.png', class: "diver" %>
    </div>
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="translucent-box left">
          <p class="title"><small><i class="fas fa-lightbulb"></i></small> PRODIVEとは</p>
          <p class="text">プロダイバーの朝の忙しさを</p>
          <p class="text">少しでも解消したい…</p>
          <p class="text">潜る前のお客様との時間を</p>
          <p class="text">有意義に使いたい…</p>
          <p class="text">そういった思いからできました</p>
        </div>
        <div class="translucent-box right">
          <p class="title"><small><i class="fas fa-thumbs-up"></i></small> PRODIVEのメリット</p>
          <p class="text mb-2">初心者向けの穏やかな海況のところは？</p>
          <p class="text mb-2">今日とりあえずOPENしているダイビングサイトが知りたい！</p>
          <p class="text">といったプロダイバーに、どこに潜りに行くかの判断の目安になる情報を一覧で表示</p>
          <br>
          <p class="text">またダイブサイト側の方は、海況情報や生物情報などプロダイバーへのアピールができる場となります</p>
        </div>
        <div class="translucent-box left">
          <p class="title"><small><i class="fas fa-map-marked-alt"></i></small> 海況MAPについて</p>
          <p class="text">ダイブサイト選択メニューで</p>
          <p class="text mb-2">確認したいエリアを選択できます</p>
          <p class="text">表示されたMAPのPIN画像は</p>
          <p class="text">当日の海況投稿の情報が反映されているので</p>
          <p class="text">OPENしているかどうかすぐに判断できます</p>
          <p class="text"><small>※ ログイン不要</small></p>
        </div>
        <div class="translucent-box right">
          <p class="title"><small><i class="fas fa-water"></i></small> 本日の海況</p>
          <p class="text">各ダイブサイトの</p>
          <p class="text mb-2">海況投稿を一覧で確認できます</p>
          <p class="text">透明度や水温、生物など</p>
          <p class="text">判断に必要な情報をより詳しく見ることができます</p>
        </div>
        <div class="translucent-box left">
          <p class="title"><small><i class="fas fa-plus"></i></small> 海況投稿</p>
          <p class="text">各ダイブサイトを</p>
          <p class="text">管理しているサービスの方</p>
          <p class="text">もしくは海況を確認できる方が</p>
          <p class="text mb-2">当日の海況を投稿することができます</p>
          <p class="text">どこで潜りに行くか</p>
          <p class="text"><span>決めかねているプロダイバーに向けて</span><span>情報発信することができます</span></p>
          <p class="text"><span>SNSへも内容をコピーして投稿できます</span></p>
        </div>
        <div class="translucent-box right mb-4">
          <p class="title"><small><i class="fas fa-portrait"></i></small> マイページ</p>
          <p class="text">お気に入りにしたダイブサイトや</p>
          <p class="text">フォローしたユーザーの一覧</p>
          <p class="text">また、自分の投稿一覧など</p>
          <p class="text">全てをここで管理することができます</p>
          <br>
          <br>
          <br>
        </div>
        <div class="scrolldown-area">
          <ul class="timeline">
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
            <li>
              <div class="spacing"></div>
              <span class="border-line"></span>
            </li>
          </ul>
        </div>
        <% if user_signed_in? %>
          <div class="top-bottom">
            <div class="after-login">
              <p>海況MAPでお好きなダイビングサイトが</p>
              <p>今日OPENしてるかみてみましょう</p>
              <div class="d-flex justify-content-center">
                <%= link_to '海況MAPへ', divesites_path, class: 'm-3' %>
              </div>
              <p><small>現地サービスの方の海況投稿のご協力をお待ちしています</small></p>
            </div>
          </div>
        <% else %>
          <div class="top-bottom">
            <div class="links d-flex justify-content-center">
              <div class="transition-btn">
                <%= link_to 'ログイン', new_user_session_path %>
              </div>
              <div class="ml-3 transition-btn">
                <%= link_to 'アカウント登録', new_user_registration_path %>
              </div>
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <%= link_to user_google_omniauth_authorize_path, class: 'm-4 oauth-google' do %>
                <i class="fas fa-angle-right"> Gmailでログイン</i>
              <% end %>
              <%= image_tag '/images/diver.png', class: "diver02" %>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'mb-2 guest-login' %>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to 'ゲストログイン(管理者)', users_guest_admin_sign_in_path, method: :post, class: 'm-2 guest-login' %>
            </div>
          </div>
        <% end %>
        <p class="copywright"><small>© 2021 PRODIVE All rights reserved.</small></p>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
    </div>
  </div>
</div>
