<!DOCTYPE html>
<html>
  <head>
    <title>Prodive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="sticky-top">
      <div class="logo">
        <%= link_to image_tag("/images/LOGO.png", height: 65), root_path, class: 'pl-2' %>
      </div>
      <nav class="header-menu">
        <ul>
          <li><%= link_to '海況MAP', divesites_path, class: 'order-1 pr-2 bd-highlight' %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'マイページ', mypage_user_path(current_user.id), class: 'order-2 pr-2 bd-highlight' %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'order-3 pr-2 bd-highlight' %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: 'pr-2 bd-highlight' %></li>
            <li><%= link_to 'サインアップ', new_user_registration_path, class: 'pr-2 bd-highlight' %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="flash_messages">
      <% flash.each do |key, value| %>
        <% key = 'info' if key == 'notice' %>
        <% key = 'warning' if key == 'alert' %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>
      <%= yield %>
      <%= javascript_include_tag 'users', 'divesites', 'map' %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwZEHSacqV8SYTnZaKXGc7xFdyqZXkNwE&callback=initMap" async defer></script>
    <footer></footer>
  </body>
</html>
